

     <body>


        <div style="width:560px; height:700px; top: 50%; left: 50%; margin: -350px 0px 0px -280px; position:absolute;">

            <div style="display:table-cell; width:560px; height:700px; text-align:center; vertical-align: middle;">
                <div style="width:560px; height:700px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kvxq_ZZGrIg" frameborder="0" allowfullscreen></iframe>
                </br>
                <h2 style="color:white;">WEEKEND</h2>
                
                <textarea style="color:white; background-color:black; width:500px; height:250px; border:1px black; text-align:justify;">

1.

팀 프로젝트를 하던 중 수위 아저씨께서 오셔서 건물 문을 잠가야 한다고 
말씀하셨다. 꼬박 6시간 동안 회의(와 그를 가장한 잡담)하느라 지쳐있던 
우리는 어디가지-보다 뭘먹지-라는 말이 먼저 나눴다. 치킨이다 치킨.

난 원래 술을 매우 잘마셨다. 새터 때 화장실 문이 잠겼다고 주먹으로
문고리를 부순 적도 없고, 평소에 맘 속으로만 좋아했던 사람에게
뜬금 없는 돌직구를 날려본 적도 없다. 다만 다음날 학교 수업을 하나도
못 갈 뿐이었다. 그만큼 잘 취하지 않는 체질이었는데, 기가 막히게
새 달력을 산 다음부터는 소주 한 병과 맥주 몇 잔만에 금방 취기가
올라온다.

나는 그날 맥주 두 잔에 취했고, 취한한 척을 하지 않으려고 두 눈을 
부릅뜨고 팀원 어깨 너머에 있는 TV를 노려보고 있었다. 화면 속에
뛰어다니는 빨간 옷을 입은 축구선수들이 때때로 번진 물감처럼 보였다.
"...나는 기회를 평등하게 주는게 가장 중요하다고 생각해. 누구나 노력하면
1등이 될 수 있는 가능성을 열어 두어야 하지 않을까?"
옆에 앉은 남자 아이가 그렇게 말하고 있었다. 1등 좋지. 1등 좋아.
언제 대화 주제가 이렇게 바뀌었는진 모르지만.

"야 근데, 그게 더 잔인한 말 아니야?" 미처 생각을 거치기 전에
말이 먼저 튀어나왔다. 무슨 뜬금 없는 소리냐는 시선들이 날아와 꽂혔다.
"사실 그렇잖아. 넌..(분당에 사니까, 하지만 이 얘긴 하지 말자) 아니
네가 1등이 되기 위해 들일 수 있는 노력이랑, 나나 다른 사람들이
기울여야 하는 노력이랑은 어쩔 수 없이 다를 수 밖에 없지 않나?
아무리 기회의 평등을 줘도 꿈에 투자할 수 있는 여력이 없으면
그게 무슨 소용이 있냐고. 애초에 1등이 되어야 한다는 강박 자체가
문제 아니야?"

남자 아이는 열심히 내 말을 이해하겠다는 듯 고개를 끄덕였지만
두 눈을 보니 열심히 내 말에 반박할 거리를 계산하고 있는 듯 보였다.
난 그게 싫었다. 왜 사람들은 내가 하는 말을 이해한다면서 결국 내 주장을
송두리채 부정할 로직을 짜고 있냔 말이다. 어째서 그런 생각을 하게 됐는지
묻는 사람은 왜 없냔 말이다.

미처 그가 대답하기 전에 난 구석에 놓인 2만원짜리 거짓말 탐지기로
손을 뻗었다. "아 이거나 한번 더 해야겠다." 손을 올려놓고 질문에
대답하면 그 거짓 유무에 따라 손에 전기충격이 가해지는 다소 괴랄한
장난감이었다. 내가 손바닥을 전기충격기 위에 올려놓자 온갖 질문들이
내게 쏟아졌다. 


2.

새벽 세 시. 기숙사 문이 닫혀 돌아가지 못하는 여자 아이가 대학원
연구실로 들어가고 나와 남자 아이 둘 만 남았다. 우리는 국제관과 
600주년 기념관 사이에 놓인 벤치에 앉았다. 그는 갑자기 방금 들어간
여자 아이에 대해 어떻게 생각하냐고 물었다. "착하지."라고 답한 나는
가방을 베게 삼아 드러눕고 아무 노래나 틀었다. 라나 델 레이의
Young And Beautiful이 흘러나왔다.

"아 글쎄 난 모르겠다. 같은 조니까 그럴 순 없는 것 같고, 나도
내 기준이 있고... 마음에 들긴 하는데 어쩔 수 없다."

그가 뭐라 말하는 사이 노래 좋은 네다섯 곡이 지나갔고, 
취한 남학생이 똑같이 취한 여학생 둘을 양쪽에 끼고 우리 앞을 지나쳤다.
인공위성인지 별인지 모를, 매우 반짝이는 오브제들이 이따금씩
밤하늘에 보였고 검은 고양이 한 마리가 총총거리며 걸어갔다.
다시 말해, 굳이 아무 말도 할 필요 없는 밤이었다.

그걸 이 녀석은 왜 모를까.
가만히 누워 가로수를 올려다보았다.





                

                </textarea>
                </br>
                <a href="https://goo.gl/maps/TajTK5GxGnF2" style="font-size:20px; color:green;">
                ★
                </a>
                
                
                </div>
            </div>

        </div>


     </body>