

     <body>


        <div style="width:600px; height:500px; top: 50%; left: 50%; margin: -250px 0px 0px -300px; position:absolute;">

            <div style="display:table-cell; width:600px; height:500px; text-align:center; vertical-align: middle;">
                <div style="width:600px; height:500px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NYQE2cU37bQ" frameborder="0" allowfullscreen></iframe>
                <h2 style="color:white;">We Crave for Commonness</h2>
                <p style="color:white;"> ...they lied, punched their own noses to fake nosebleed, or even tried to be blind</br>
                in order to show that they have 'something' in common with their partners.</br>
                They craved for commonness, interrogated each other.</br>
                Were they happy? I think not.
                </p>
                
                </div>
            </div>

        </div>


     </body>