

     <body>


        <div style="width:560px; height:700px; top: 50%; left: 50%; margin: -350px 0px 0px -280px; position:absolute;">

            <div style="display:table-cell; width:560px; height:700px; text-align:center; vertical-align: middle;">
                <div style="width:560px; height:700px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uxmJGhGaHj8" frameborder="0" allowfullscreen></iframe>
                </br>
                <h2 style="color:white;">Thursday</h2>
                
                <textarea style="color:white; background-color:black; width:500px; height:250px; border:1px black">
강남역의 한 술집 화장실에서 여대생이 흉기에 찔려 숨졌다. 범인은 여자 화장실에 미리 숨어있었고, 별다른 이유 없이 그녀를 무참히 찔러 살해했다.

'선천적으로' 압도할 수 있는 대상인 여성을 찾아 격정적으로 조롱하고, 성적으로 희롱하며, 종국에는 상대의 몸뚱아리에 차가운 칼날을 후벼넣는 남성들의 모습은 비단 어제오늘만의 일은 아니다. 물론 남성들은 "걔가 또라이인거지 난 안그래요"라며 남성이라는 집단의 결백을 열심히 강변하지만, 음악가 강백수씨의 말마따나 "내가 '그런 짓을 하지 않을 사람'이란 걸 아무리 설명해봐야
그녀들이 '그런 짓을 당하지 않을 사람'이 되는 것"은 아니다. 그래서 나는 그렇게 자신의 결백을 주장하는 친구들을 볼 때면 한없이 허망함을 느끼고, 냉소적인 혐오감을 느끼곤 했다. 나의 사랑하는 친구들의 입에서 그런 말이 나올 땐 한없이 외로워지기도 했다. 

며칠 밤을 샌 피로와, 슬픈 마음과, 소음으로 가득 찬 캠퍼스에 대한 짜증을 간신히 억누르던 와중에 함께 점심을 먹던 친구가 말했다. "뭐 그런 거 가지고 강남역에서 시위도 한다는데. 시민단체들 껀수 하나 잡은거지." 나는 그 아이의 얼굴조차 쳐다보지 않고 말했다. "사람이 죽어서 시위한다는데 껀수는 뭔 껀수냐" 욕지기가 치밀었지만 꾹 참고 나는 열심히 침묵 위로 젓가락을 놀렸다. 차라리 100의 선함을 가진 사람과 100의 악함을 가진 사람만 있다면 얼마나 좋을까. 그 점이 날 너무 슬프게 하는 하루다. 





                </textarea>
                </br>
                <a href="https://goo.gl/maps/fv13cumQ2wE2" style="font-size:20px; color:white;">
                ★
                </a>
                
                
                </div>
            </div>

        </div>


     </body>