

     <body>


        <div style="width:560px; height:700px; top: 50%; left: 50%; margin: -350px 0px 0px -280px; position:absolute;">

            <div style="display:table-cell; width:560px; height:700px; text-align:center; vertical-align: middle;">
                <div style="width:560px; height:700px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/x4xZG64OxCo" frameborder="0" allowfullscreen></iframe>
                </br>
                <h2 style="color:white;">5/25</h2>
                
                <textarea style="color:white; background-color:black; width:500px; height:250px; border:1px black; text-align:center;">





너무 긴 한 달이었다.


                </textarea>
                </br>
              
                
                
                </div>
            </div>

        </div>


     </body>