

     <body>


        <div style="width:560px; height:600px; top: 50%; left: 50%; margin: -300px 0px 0px -280px; position:absolute;">

            <div style="display:table-cell; width:560px; height:600px; text-align:center; vertical-align: middle;">
                <div style="width:560px; height:600px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dF6E47Pn6mY" frameborder="0" allowfullscreen></iframe>
                </br>
                <h2 style="color:white;">Monday</h2>
                
                
                <p style="color:white;">
                </br>
                </br>
                막상 만나면 언제 그랬냐는 듯 </br>
                먹먹함에 말문이 막히겠지마는 </br>
                미처 꺼내지 못했던 말들을 </br>
                풀어헤쳤다가 느슨히 여며두길 반복해보았다. </br>
                </p>
                
                </div>
            </div>

        </div>


     </body>