

     <body>


        <div style="width:600px; height:400px; top: 50%; left: 50%; margin: -200px 0px 0px -300px; position:absolute;">

            <div style="display:table-cell; width:600px; height:400px; text-align:center; vertical-align: middle;">
                <div style="width:600px; height:400px; background-color:black">
                <!-----유툽 들어갈 자리--->
                </br>
                <h2 style="color:white;">Sunday</h2>
                
                <p style="color:white;">
                </br>
                일요일마다 나는 청소를 한다.</br> 
                너저분한 책상을 치우고 옷장을 비웠다.</br>
                그러다 얘기하고 싶은 사람이 생각나 밖으로 나왔다. </br>
                </br>
                창문이 활짝 열린 카페와 </br>
                믿기지 않는 만남이 있었던 또 다른 카페를 지나 </br>
                올해 마지막 장국밥을 먹었던 식당으로 무작정 들어갔다. </br>
                그 어디에도 당신이 없으리란건 알았지만 </br>
                그 어디에나 당신 밖에 없어서 무작정 걸었던, </br>
                </br>
                등 뒤로 비가 내리던 오후였다. </br>
                </p>
                
                </div>
            </div>

        </div>


     </body>