

     <body>


        <div style="width:560px; height:600px; top: 50%; left: 50%; margin: -300px 0px 0px -280px; position:absolute;">

            <div style="display:table-cell; width:560px; height:600px; text-align:center; vertical-align: middle;">
                <div style="width:560px; height:600px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dF6E47Pn6mY" frameborder="0" allowfullscreen></iframe>
                </br>
                <h2 style="color:white;">Monday</h2>
                
                
                <p style="color:white;">
                </br>
                </br>
                막상 만나면 언제 그랬냐는 듯 </br>
                먹먹함에 말문이 막히겠지마는 </br>
                미처 꺼내지 못했던 말들을 </br>
                풀어헤쳤다가 느슨히 여며두길 반복해보았다. </br>
                <a href="https://www.google.co.kr/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%A2%85%EB%A1%9C%EA%B5%AC+%EB%AA%85%EB%A5%9C1%EA%B0%80+31-2/@37.5894587,126.9983183,19z/data=!4m12!1m6!3m5!1s0x357cbcd5c479b50f:0xbd9a95d60bc293a4!2z7Jis66a87ZS96riw64WQ6rWt66-87IOd7Zmc6rSA!8m2!3d37.5903934!4d126.9987724!3m4!1s0x357cbcd5bc07ada9:0xacf5d08607d38252!8m2!3d37.5897103!4d126.9987516">
                ★
                </a>
                </p>
                
                </div>
            </div>

        </div>


     </body>