

     <body>


        <div style="width:500px; height:600px; top: 50%; left: 50%; margin: -300px 0px 0px -250px; position:absolute;">

            <div style="display:table-cell; width:500px; height:600px; text-align:center; vertical-align: middle;">
                <div style="width:500px; height:600px; background-color:black">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ej25zrnaTXk" frameborder="0" allowfullscreen></iframe>
                <h2 style="color:white;">Saturday</h2>
                곡성을 봤다. 정말 기분이 찝찝했다. </br>
                보통 공포영화에서 감독은 A와 B라는 인물 둘을 대립시켜 </br>
                관객이 둘 중 한 명을 선택해 믿게 하고 그 믿음을 배신하는 전략을 택한다. </br>
                하지만 곡성은 여기에 한가지 대안을 더 집어넣으면서 </br>
                도대체 누굴 믿어야 할지 모를, 아주 원초적인 공포를 느끼게 한다. </br>
                귀신에 홀린 듯 극장을 나왔다.
                <p style="color:white;">
                    
                    
                </p>
                
                </div>
            </div>

        </div>


     </body>