

     <body>


        <div style="width:500px; height:600px; top: 50%; left: 50%; margin: -300px 0px 0px -250px; position:absolute;">

            <div style="display:table-cell; width:500px; height:600px; text-align:center; vertical-align: middle;">
                <div style="width:500px; height:600px; background-color:black">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/OczRpuGKTfY" frameborder="0" allowfullscreen></iframe>
                <h2 style="color:white;">Thursday</h2>
                <p style="color:white;"> "Well? Shall we go?"</br>
                "Yes, let's go."</br>
                [They do not move.]</br>
                Curtain </br>
                </br>
                -고도를 기다리며, 2015.11.30.-</br>
                </br>
                과연 그것들은 약속대로 우리에게 당도할까?</br>
                아니, 애초에 우리가 그것들과 약속을 잡은 적이 있던가?</br>
                
                </p>
                
                </div>
            </div>

        </div>


     </body>